<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.HealthFit"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-sdk 
        android:minSdkVersion="7" 
        android:maxSdkVersion="21"
        android:targetSdkVersion="16" />
 
    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/app_theme" >
        <activity
            android:name="app.HealthFit.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.HealthFit.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
          <activity
            android:name="app.HealthFit.Calories_ALL"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
             <activity
            android:name="app.HealthFit.Select_graph"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
          <activity
            android:name="app.HealthFit.Report"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <activity
            android:name="app.HealthFit.MainActivity_graph_view1"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="app.HealthFit.Update_Register"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Calories_FOODRunDom"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

          
            <activity
            android:name="app.HealthFit.MainActivity_graph_view"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <activity
            android:name="app.HealthFit.Detail_Register"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
         <activity
            android:name="app.HealthFit.Burn_Excercise"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
          <activity
            android:name="app.HealthFit.Burn_All"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
       
        <activity
            android:name="app.HealthFit.TabHostMENU"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.TabHostDiary"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="app.HealthFit.BMI"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.BMR"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
           <activity
            android:name="app.HealthFit.Grapviwe_data"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="app.HealthFit.Calories_FOOD"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.TabHostADMIN"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Login"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Register"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.TabHostFOOD"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Calories_TOTAL"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Calories_SWEET"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Calories_FRUIT"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Calories_DRINK"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Health_Tips"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Health_Tips01"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Health_Tips02"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Health_Tips03"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Health_Tips04"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Health_Detail1" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity
            android:name="app.HealthFit.Health_Detail2"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
       <activity
            android:name="app.HealthFit.Health_Detail3"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Health_Detail4"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
       
        <activity
            android:name="app.HealthFit.TabHostEXERCISE"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Burn_Activity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Burn_TOTAL"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="app.HealthFit.Weight"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="app.HealthFit.Burn_ALL"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>